
body{

    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}.center-on-page {position: absolute;  top:50%;  left: 50%;  transform: translate(-50%,-50%);}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
     outline: 0;
     box-shadow: none;
     border: 0 !important;
     background: #2c3e50;
      background-image: none;
}
h1 {
    text-align: center;
    color:#FFFFFF;
}


img {
    vertical-align: middle;
}


button
{  -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
     background: #2c3e50;
     background-image: none;
     width: 100%;
     height: 40px;
      margin: 0;
      margin-top: 20px;
      color: #fff;
      cursor: pointer;
      border-radius: .25em;
}.button:hover{  color: #f39c12;}

background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432);


