<!doctype html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<title>Weather Api</title>


<div class="center-on-page">  <h1 class="body">Check weather in city</h1>
    <form class="form-inline" method="POST" action="{{ url_for('result') }}">
        <div class="select">
            <select name="comp_select" class="selectpicker form-control">
                {% for o in data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
</div>